<!DOCTYPE html>
{% load static %}
 
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GENEVA: Gene Expression Variation Analysis</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </head>





<body>

  <nav class="navbar sticky-top navbar-expand-sm justify-content-center nav-tabs" style="background-color: #284B63;">
    <div class= "nav">
        <li class="navbar-brand active">
                <a class="nav-link text-white font-weight-bold pl-5 pr-5 h5" href="{%url 'geneva_home' %}"> GENEVA </a>

              </li>
              <li class="nav-item active">
                <a class="nav-link text-white font-weight-bold pl-5 pr-5 h5" href="{%url 'single_gene' %}"> Gene Query </a>

              </li>
              <li class="nav-item active">
                <a class="nav-link text-white font-weight-bold pl-5 pr-5 h5" href="{%url 'gene_set' %}"> Gene Signature Query </a>
              </li>

               <li class="nav-item active">
                <a class="nav-link text-white font-weight-bold h5  pl-5 pr-5" href="{%url 'license' %}"> License </a>
              </li>

              <li class="nav-item active">
                <a class="nav-link text-white font-weight-bold h5  pl-5 pr-5" href="{%url 'help' %}"> Help </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold text-white h5  pl-5 pr-5" style="background-color: #284B63" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Web Services </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href="{%url 'gene_query' %}" >  Gene Query </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href= "{%url 'gene_set_query' %}" > Gene Signature Query </a> 
                 </li>
                

              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold text-white h5  pl-5 pr-5" style="background-color: #284B63" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Related Links </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href="https://amp.pharm.mssm.edu/archs4/">  ARCHS4 </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href="https://www.ncbi.nlm.nih.gov/geo/"> GEO </a> 
                <div class="dropdown-divider"></div>
              <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href="https://buttelab.ucsf.edu/"> Butte Lab </a></div> </li>
                

</nav>

<br>
    
<div class="container jumbotron-fluid pt-4 pb-4 mt-5" style="background-color: #d4dbdf;">
    <form action="{% url 'gse_description' %}" method="get">
      <h3 class="container text-dark font-weight-bold text-center mt-2 mb-2">  Gene Query: 
        <input type = "hidden" name="gene_name" value={{gene_entry}}> {{gene_entry}} </input> </h3>  </div>
      

  <div class="container mt-5 mb-5">
      <table class="container table table-responsive-sm table-bordered table-hover table-striped  text-xl-center"> 
            <thead class="thead-dark">
                <tr> 
                    <th scope="col"> Dataset</th>
                    <th scope="col"> Description </th>
                    <th scope="col"> Geneva Score </th>
                </tr>
            </thead>
            <tbody>
            {% for entry, condition, score in zipped_list %}
				<tr class="bg-light">
					<td class="btn btn-outline-dark text-center"> <input type="submit" name="gse_id" value="{{entry}}"></td> 
					<td>{{condition}}</td>
					<td>{{score}}</td>
				</tr>
			{% endfor %}
            </tbody>
        </table>  </div>  
</form> 
    </div>  
      
 

<br>
<br>

<div class="jumbotron text-white mt-5 pt-2 pb-2" style="background-color: #284B63;"> 
<h3 class="container text-center" > Contact Us </h3>
    <p class="container text-center"> For scientific and technical queries contact <a class = "text-white", href="https://buttelab.ucsf.edu/"> Butte Lab @UCSF </a>  </p>
     <br>
<h4 class="container text-center"> Cite GENEVA Tool</h4>
    <p class= "container text-center"> Manuscript in Preparation</p>
</div>
     <!--<div style="margin-left:50px;"></div> -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>    
</html>


</body>   


