<!DOCTYPE html>
{% load static %}


<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GENEVA: Gene Expression Variation Analysis</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </head>
<body> 
<nav class="navbar sticky-top navbar-expand-sm justify-content-center nav-tabs" style="background-color: #284B63;">
    <div class= "nav">
        <li class="navbar-brand active">
                <a class="nav-link text-white font-weight-bold pl-5 pr-5 h5" href="{%url 'geneva_home' %}"> GENEVA </a>

              </li>
              <li class="nav-item active">
                <a class="nav-link text-white font-weight-bold pl-5 pr-5 h5" href="{%url 'single_gene' %}"> Gene Query </a>

              </li>
              <li class="nav-item active">
                <a class="nav-link text-white font-weight-bold pl-5 pr-5 h5" href="{%url 'gene_set' %}"> Gene Signature Query </a>
              </li>

               <li class="nav-item active">
                <a class="nav-link text-white font-weight-bold h5  pl-5 pr-5" href="{%url 'license' %}"> License </a>
              </li>

              <li class="nav-item active">
                <a class="nav-link text-white font-weight-bold h5  pl-5 pr-5" href="{%url 'help' %}"> Help </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold text-white h5  pl-5 pr-5" style="background-color: #284B63" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Web Services </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href="{%url 'gene_query' %}" >  Gene Query </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href= "{%url 'gene_set_query' %}" > Gene Signature Query </a> 
                 </li>
                

              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold text-white h5  pl-5 pr-5" style="background-color: #284B63" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Related Links </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href="https://amp.pharm.mssm.edu/archs4/">  ARCHS4 </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href="https://www.ncbi.nlm.nih.gov/geo/"> GEO </a> 
                <div class="dropdown-divider"></div>
              <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href="https://buttelab.ucsf.edu/"> Butte Lab </a></div> </li>
                

</nav>


   
   
    <h3 class="container text-danger active font-weight-bold text-center mb-5 mt-5"> Introduction to GENEVA </h3>
    
    <div class="container"> 
    <p>GENEVA (GENe Expression Variance Analysis) is a semi-automated framework for exploring public RNA-seq datasets. GENEVA (Gene Expression Variance Analysis) allows researchers to identify RNA-seq datasets that contain modulating conditions for a gene or a gene signature. For a given gene, GENEVA identifies the most relevant datasets by analyzing the variance of the gene expression. GENEVA visualizes the relevant datasets for detailed manual analysis. GENEVA is scalable and is agnostic to study designs. </p>
<br>
<br>
    <h4 class="text-center">The data source of GENEVA </h4>

<p> GENEVA uses the uniformly processed RNA-seq data from the ARCHS4 website (https://amp.pharm.mssm.edu/archs4/download.html). As of Oct 9, 2020, The downloaded data include gene-level count data of 286650 samples from 9124 datasets (GEO series) and metadata.  GENEVA transformed the gene count data into percentile rank data, which reduces the influences of library size, batch effects, and extreme values. </p>

<br>
<br>

<img class="text-center" id="figure 1" src="{% static "images/Picture1.png" %}", width="500", height="150" alt="First slide"> </img> 

<br>
<br>
<h4 class="text-center"> How GENEVA Score is calculated </h4>

<p> For any given gene (gene X), GENEVA prioritizes the datasets that have a large variance of the gene X expression. At the same time, GENEVA controls for the overall heterogeneity of the samples to prioritize datasets in which gene X is specifically modulated by experimental conditions rather than due to tissue type differences. In addition, GENEVA embeds the meta-data into numerical space and prioritizes datasets with high correlations between ACE2 expression and the metadata. This allows GENEVA to identify datasets in which gene X is regulated by experimental conditions rather than randomness or unexplained factors. </p>

<p> GENEVA concatenates the metadata of each sample into a single string, including the title, tissue type, and other characteristics (e.g. demographics, time points, treatment, genetic information, and disease status). GENEVA then calculates the pairwise Levenshtein distance between the strings that belong to the same study (GEO series). GENEVA applies multidimensional scaling to the pairwise Levenshtein distance and embedded the strings into 2-dimensional space for visualization and downstream analysis. </p>

<p> For a given gene in a given dataset, GENEVA calculates the variance of the gene (VARg). GENEVA measures the overall heterogeneity of the samples by calculating the average variance of all genes (VARm). GENEVA runs a regression using the expression of the gene as the dependent variable and the embedded metadata as independent variables (expression ~ first embed dimension + second embed dimension). The regression coefficient (R2) represents the association between the expression of the gene and the embedded metadata. The product between VARg and R2 represents the variance of the gene explained by the embedded metadata. The GENEVA score is defined as VARg × R2  / VARm.

</p>

<br>
<br>
<h4 class="text-center"> How to interpret the visualization</h4>

<img class="text-center" src="{% static "images/plots.jpg" %}", width="800", height="300" alt="First slide"> </img> 
<h5>Barplot </h5> 
<p> If the user queries a single gene, the bar plot shows the expression level (rank transformed count data) of the gene. If the user queries a signature, the bar plot shows the enrichment score of the signature </p>
<h5>  2-D plot </h5> 
<p>  GENEVA embeds the metadata of the samples into 2-dimensional numerical space. Samples with similar experimental conditions will be close to each other in the 2-D plot.  The 2-D plot allows users to visually identify experimental groups, and correlate the experimental group with the expression value. The color of each sample reflects the expression level of the gene (rank transformed count data) or the enrichment of the signature.</p> </div>






<br>
<br>

<div class="jumbotron text-white mt-5 pt-2 pb-2" style="background-color: #284B63;"> 
<h3 class="container text-center" > Contact Us </h3>
    <p class="container text-center"> For scientific and technical queries contact <a class = "text-white", href="https://buttelab.ucsf.edu/"> Butte Lab @UCSF </a>  </p>
     <br>
<h4 class="container text-center"> Cite GENEVA Tool</h4>
    <p class= "container text-center"> Manuscript in Preparation</p>
</div>
     <!--<div style="margin-left:50px;"></div> -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>    
</html>