<!DOCTYPE html>
{% load static %}


<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GENEVA: Gene Expression Variation Analysis</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </head>

<body>

  <nav class="navbar sticky-top navbar-expand-sm justify-content-center nav-tabs" style="background-color: #284B63;">
    <div class= "nav">
        <li class="navbar-brand active">
                <a class="nav-link text-white font-weight-bold pl-5 pr-5 h5" href="{%url 'geneva_home' %}"> GENEVA </a>

              </li>
              <li class="nav-item active">
                <a class="nav-link text-white font-weight-bold pl-5 pr-5 h5" href="{%url 'single_gene' %}"> Gene Query </a>

              </li>
              <li class="nav-item active">
                <a class="nav-link text-white font-weight-bold pl-5 pr-5 h5" href="{%url 'gene_set' %}"> Gene Signature Query </a>
              </li>

               <li class="nav-item active">
                <a class="nav-link text-white font-weight-bold h5  pl-5 pr-5" href="{%url 'license' %}"> License </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold text-white h5  pl-5 pr-5" style="background-color: #284B63" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Web Services </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href="{%url 'gene_query' %}" >  Gene Query </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href= "{%url 'gene_set_query' %}" > Gene Signature Query </a> 
                 </li>
                

              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold text-white h5  pl-5 pr-5" style="background-color: #284B63" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Related Links </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href="https://amp.pharm.mssm.edu/archs4/">  ARCHS4 </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href="https://www.ncbi.nlm.nih.gov/geo/"> GEO </a> 
                <div class="dropdown-divider"></div>
              <a class="dropdown-item text-white font-weight-bold" style="background-color: #284B63"; href="https://buttelab.ucsf.edu/"> Butte Lab </a></div> </li>
                

</nav>
  <div class="container jumbotron jumbotron-fluid pt-4 pb-4 mt-5" style="background-color: #d4dbdf;">
    <h2 class="text-dark text-center font-weight-bold">  GENEVA: Gene Expression Variation Analysis </h2> 
      <h4 class="text-dark text-center mt-3"> Meta-analysis of Gene Expression Variation </h4></div>
        <br>
      <div class="container pb-4 mb-5" style="border:2px solid #255">
    <img class="mr-3 ml-5" id="figure 1" src="{% static "images/Figure1.jpg" %}", width="1000", height="450" alt="First slide"> </img> </div>
<div class = "container">   
<hr>
<br>
</div> 


<br>

<div class="container"> 
<h3 class="text-center text-bold">Choose One of the Following</h3>
<br>

<div class=" jumbotron container">
 <div class="row">  
  <div class="card" style="width: 33.5rem;">
    <div class="card-body ml-2">
      <h1 class="card-title"> Gene Query </h1>
        <p class="card-text"> Queries a Single Gene </p>
        <br>
        <a href="{% url 'single_gene' %}" class="btn btn-lg btn-success active"> CLICK HERE !</a>
      </div>
    </div>

  <div class="card" style="width: 33.5rem;">
    <div class="card-body ml-2">
      <h1 class="card-title"> Gene Signature Query </h1>
        <p class="card-text"> Queries a Set of Upregulated and Downregulated Genes </p>
        <br>
          <a href="{% url 'gene_set' %}" class="btn btn-lg btn-primary active"> CLICK HERE !</a>
          </div>
          </div>  

      </div>
</div>
</div>
<br>
<br>
<div class="container"> 
    
      <a class="col-sm btn w-100 btn-outline-dark btn-md font-weight-bold" href="{% static "images/genelist.txt" %}" > Complete List of Genes (N = 35,240) </a> 
    
</div>

<br>
<br>


<div class="jumbotron text-white mt-5 pt-2 pb-2" style="background-color: #284B63;"> 
<h3 class="container text-center" > Contact Us </h3>
    <p class="container text-center"> For scientific and technical queries contact <a class = "text-white", href="https://buttelab.ucsf.edu/"> Butte Lab @UCSF </a>  </p>
     <br>
<h4 class="container text-center"> Cite GENEVA Tool</h4>
    <p class= "container text-center"> Manuscript in Preparation</p>
</div>
     <!--<div style="margin-left:50px;"></div> -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>    
</html>